 

.curved-container {
    background-color: #282b34;
    padding: 30px 0;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}
/* Style for the text */
.text-center {
    text-align: center;
    color: #ffffff; /* Text color */
    font-size: 24px; /* Adjust font size as needed */
}
.hcolor{
    color: #fef4a2;
    font-weight: bold;
  }

.hsec{
    text-decoration: underline;
    cursor: pointer;
}

.banner2{
    background-color: #fef4a2;
    justify-content: center;
    align-items: center;
}
.banner3{
    background-color: #0a1e5b;
    justify-content: center;
    align-items: center;
}

.banner1{
    background-color: #d8efe1;
}
.banner4{
    background-color: rgb(76, 168, 180);
    justify-content: center;
    align-items: center;
}

.b2button{
    background-color: rgb(249, 172, 185);
    border: none;
    color: black;
    width: 12rem;
    border-radius:10px;
}

.btn2s{
    width: 12rem;
    border-radius:30px;
}

.csscontent{
    
    justify-content: center;
    align-items: center;
}

.head1{
    font-size: 4rem;
}

.banner2cont{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;
}
.txt{
    text-align: center;
}
.banner5{
    background-color: #282b34;
}
.b5cont1{
    background-color: rgb(249, 172, 185);
}

.b5cont2{
    background-color: #fef4a2;
}

.b5cont3{
    background-color: rgb(76, 168, 180);
}

.b5cont4{
    background-color: #0a1e5b;
}