.hbtn:hover{
    background-color: rgb(231, 231, 158);
    color:black;
}

.hbtns{
     
    background-color: rgb(85, 204, 85);
    
}

.hbtns:hover{
     color:aliceblue;
    background-color: rgb(6, 95, 6);
}

.ic{
    color: rgb(123, 17, 222);
}
.ic2{
    color: rgb(246, 105, 5);
}
.ic2:hover{
    color:aliceblue;
}
.dropdown-item:hover{
    background-color: rgb(104, 179, 104);
    color: aliceblue;
}

.dropdown-item{
    font-weight: bold;
}

.enroll{
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
    
}

.dark-mode {
    background-color: #343a40;
    color: white;
}

.navbar{
    overflow-x: 0 auto;
    margin: auto;

}

.navlink:hover{
    color:rgb(204, 11, 191);
    font-weight: bold;
    transform: scale(1.2);
    animation: navlink 0.2s infinite alternate;
}

.quotes{
    /* color:rgb(204, 11, 191); */
    font-weight: bold;
    transform: scale(1.2);
    animation: navlink 0.2s infinite alternate;
}
.navlink{
    color: black;
}

@keyframes navlink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@keyframes quotes {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
.co{
    background-color: #282b34;
}

.n{
    font-size: 1.2rem;
}

.pos {
    white-space: nowrap;
    overflow: hidden;    
  } */
  /* Animation */
  .pos {
    animation: animated-text 2s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  /* text animation */
  @keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
  }
 