.hbtn:hover{
    background-color: beige;
    color:black;
}

.hbtns{
     
    background-color: rgb(85, 204, 85);
}

.hbtns:hover{
     color:aliceblue;
    background-color: rgb(6, 95, 6);
}

.ic{
    color: rgb(123, 17, 222);
}
.ic2{
    color: rgb(246, 105, 5);
}
.ic2:hover{
    color:aliceblue;
}
.dropdown-item:hover{
    background-color: rgb(104, 179, 104);
    color: aliceblue;
}

.dropdown-item{
    font-weight: bold;
}

.enroll{
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
    
}

.dark-mode {
    background-color: #343a40;
    color: white;
}

.navbar{
    overflow-x: auto;
}