body{
    background-color: #282b34;
}
.animated-banner {
    background-color: #fef4a2;
    color: black;
    text-align: center;
    padding: 30px;
    animation: bannerAnimation 1s infinite alternate;
}

@keyframes bannerAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
 




